.start {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.start h1 {
    font-size: 3.5em;
}

.start p {
    margin-bottom: 2em;
    color: #ecfa00;
}
